// Default Font Stacks
$sans-serif: 'Montserrat', Helvetica, Arial, sans-serif;
$sans-serif-alt: 'Quicksand', Helvetica, Arial, sans-serif;

// Colors
$primary-color: rgba(229, 90, 56, 1); // orange
$secondary-color: rgba(87, 182, 233, 1); // blue
$tertiary-color: white;
$quaternary-color: rgba(230, 231, 232, 1); // light gray

$text-color-main: #000000;
$text-color-light: #aaaaaa;
$text-color-mid: #777777;
$text-color-mid-alt: #999999;

// Grays
$gray-main: rgba(88, 89, 91, 1);
$gray-alt: rgba(109, 110, 113, 1);
$gray-light-1: #efefef;
$gray-light-2: #b4c5cf;

// Layout
$container-width: 90%;
$container-max-width: 60rem;
$section-padding: 3em;
$container-small-max-width: 840px;
$viewport-switch: calc(#{$container-max-width}/.9);

// Admin Bar
$wpadmin-bar-height: 32px;
$wpadmin-bar-height-mobile: 46px;

// Header 
$header-height: 120px;

// Keyframes
@keyframes fade-in-1 {   
  0% {     
    opacity: 0;   
  }    
  100% {
    opacity: 1;
  }
}