.footer {
  background: $quaternary-color;
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  margin-top: auto;

  .col p:last-of-type {
    padding-bottom: 0;
  }

  &__subhead {
    color: $primary-color;
  }

  &__text {
    color: $gray-main;
    font-size: .825rem;
  }
}