.footer {
  background: $quaternary-color;
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  margin-top: auto;

  .col p:last-of-type {
    padding-bottom: 0;
  }

  &__subhead {
    color: $primary-color;
  }

  &__text {
    color: $gray-main;
    font-size: .825rem;
  }

  &__logo {
    width: 120px;
    margin-bottom: 1.25rem;
  }

  a {
    font-weight: 700;
    font-size: .825rem;
    text-decoration: none;
    color: $gray-main;
    transition: color .15s ease;

    &:hover {
      color: lighten($gray-main, 10%);
    }
  }
}