.header {
  background: transparent;
  height: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    img {
      width: 134px;
    }

    @include mq(ipad, 'max-width') {
      margin-top: -.75rem;
    }
  }

  &__menu {
    color: white;
    font-family: $sans-serif-alt;

    li {
      &:before {
        content: '/';
        display: none;
        margin-right: 1rem;
        font-weight: 300;

        @include mq(ipad, 'max-width') {
          display: inline-block;
        }
      }

      &:first-child:before {
        content: '/';
        display: inline-block;
        margin-right: 1rem;
        font-weight: 300;

        @include mq(desktop-narrow, 'max-width') {
          display: none;
        }      

        @include mq(ipad, 'max-width') {
          display: inline-block;
        }  
      }
    }

    a {
      color: white;      
      text-transform: uppercase;
      font-size: .85rem;
      font-weight: 300;
      letter-spacing: 1px;
      transition: color .2s ease;

      &:hover {
        color: rgba(white, .7);
      }

      &:after {
        content: '/';
        display: inline-block;
        margin-left: 1rem;

        @include mq(desktop-narrow, 'max-width') {
          display: none;
        }
      }
    }
  }
}

.main-navigation {
  display: block;
}

.main-navigation ul {
  display: none;

  @include mq(ipad, 'max-width') {
    padding: 0 0 0 5%;
    margin: 1.5rem 0 0;
  }
}

.main-navigation li {
  list-style-type: none;
  margin: 0 .5rem;

  @include mq(desktop-narrow, 'max-width') {
    margin: 0 0 0 1.75rem;
  }

  @include mq(ipad, 'max-width') {
    margin: 0 0 .5rem;
  }
}

.main-navigation li:first-child {
  margin-left: 0;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  cursor: pointer;
  background: transparent;
  border: none; 
  margin-top: -6px;

  button {
    background: transparent;
    border-radius: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
  }

  span {
    display: block;
    background: white;
    height: 2px;
    width: 38px;
    margin-bottom: 10px;
  }
}

@include mq(ipad) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.menu-top-navigation-container {
  @include mq(ipad, 'max-width') {
    position: absolute;
    left: 0;
    width: 100%;
  }
}