.header {
  background: transparent;
  height: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    img {
      width: 134px;
    }
  }

  &__menu {
    color: white;
    font-family: $sans-serif-alt;

    li {
      &:first-child:before {
        content: '/';
        display: inline-block;
        margin-right: 1rem;
        font-weight: 300;
      }
    }

    a {
      color: white;      
      text-transform: uppercase;
      font-size: .85rem;
      font-weight: 300;
      letter-spacing: 1px;
      transition: color .2s ease;

      &:hover {
        color: rgba(white, .7);
      }

      &:after {
        content: '/';
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}

.main-navigation {
  display: block;
}

.main-navigation ul {
  display: none;
}

.main-navigation li {
  list-style-type: none;
  margin: 0 .5rem;
}

.main-navigation li:first-child {
  margin-left: 0;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: flex;
  }
}