#content {
  margin-top: -$header-height;
}

section {
  padding: $section-padding 0 $section-padding;
}

.container {
  margin: 0 auto;
  width: $container-width;
  max-width: $container-max-width;

  &--narrow {
    max-width: $container-small-max-width;
  }
}