.contact-info {
  margin-top: .5rem;
  margin-bottom: 2rem;

  li {
    list-style-type: none;
    margin: 0 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  @include mq(ipad, 'max-width') {
    ul {
      flex-direction: column;
      text-align: center;
    }

    li {
      margin-bottom: .5rem;
    }
  }
}