.cta-block {
  background: $secondary-color;
  color: white;
  padding: 2em 0;

  p:last-of-type {
    padding-bottom: 0;
    font-size: 1.05rem;
  }

  h4 {
    font-size: 1.75rem;
    padding-bottom: .45em;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}