.icon-block {
  &__heading {
    color: $gray-alt;
    font-weight: 400;
    max-width: 100%;
    margin: 0 auto;
    width: 18rem;
  }

  h2 {
    font-size: 1.35rem;
    line-height: 1.3;
  }

  &__image {
    margin: 0 auto 1.5rem;
    width: 3rem;
  }
}