.interstitial-split {
  color: white;
  padding: 4em 0;

  h4 {
    margin-bottom: 0;
    padding-bottom: .25rem;
  }

  p {
    font-size: 1.1rem;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .col--left {
    text-align: right;
    position: relative;

    @include mq(ipad, 'max-width') {
      text-align: left;
    }

    &:after {
      content: '/';
      font-size: 11rem;
      position: absolute;
      right: -35%;
      font-weight: 100;

      @include mq(ipad, 'max-width') {
        display: none;
      }
    }
  }
}