.rotating-slide {
  display: none;
}

.dot-wrapper {
  margin-top: 5rem;

  &--hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
}

.hero--video .dot-wrapper {
  @include mq(desktop, 'max-width') {
    margin-top: 3rem;
  }

  @include mq(desktop-narrow, 'max-width') {
    margin-top: 1rem;
  }

  @include mq(ipad, 'max-width') {
    margin-top: .6rem;
  }
}

.slide-dot {
  height: 8px;
  width: 8px;
  margin: 0 3px;
  background-color: #939598;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide-dot--is-active {
  background-color: transparent;
  border: 1px solid #939598;
  height: 12px;
  width: 12px;
  position: relative;
  top: 2px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}